body {
  background-color: #d4efdf;
}

.centered {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

img {
  width: 370px;
  margin-top: 50px;
}

@media only screen and (max-width: 770px) {
  .centered {
    margin: 0 10%;
  }

  .image {
    width: 100%;
  }
}
